<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <php>
        <server name='HTTP_HOST' value='http://localhost' />
    </php>

    <testsuites>
        <testsuite name="Sample Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>